.search{
	position: relative;
	width: 40%;
	left: 20%;
	margin-top: 1em;
	overflow: hidden;
}

.pic-container{
	width: 90%;
	height: 50em;
	margin:0 auto;
	margin-top: 30px;
}

.pic{
	/*outline: 1px solid blue;*/
	height: 30%;
	padding-top: 15px;	
	padding-bottom: 15px;
}

.pic img{
	width: 100%;
	height: 100%;
	/*padding: 1em;*/
	z-index: -1;
}

.pic img:hover{
	cursor: pointer;
}

.user-pic{
	width: 30%;
	height: 30%;
	background: #000;
	z-index: 1;
	position: absolute;
	bottom: 0;
	right: 0;
}

.user-pic img{
	width: 100%;
	height: 100%;
	padding: 0.2em;
}

.navbar-brand{
	font-family: 'Audiowide', cursive;
	font-size: 40px;
	color: #fff !important;
	line-height: 50px;
}

.navbar-inverse{
	background: #6a9a1f;
	height: 75px;
	border-bottom: 0;
	margin-bottom: 15px;
}

.navbar-form{
	margin-left: auto;
	margin-right: auto;
}

.navbar-header{
	width: 100%;
}

.or-label{
	font-family: 'Audiowide', cursive;
	color: #fff;
}


.hide{
	display: none;
}

.tag-btn, .loc-btn, #search-tag, #search-loc{
	width: 40%;
}

/*Media Queries*/
/*Media Queries*/
@media (min-width: 768px){
	.tag-btn, .loc-btn, #search-tag, #search-loc{
		width: 30%;
	}
}
